// font-size
$font-size-xl: 18px;
$font-size-md: 15px;
$font-size-sm: 14px;

// color
$color-primary: #475466;
$color-secondary: #4a4e58;
$color-light: #fff;
$color-info: #1ca1c1;
$color-silver: #ebedf0;
$color-aliceblue: #f4f5f9;
$color-icon: #94a1b3;
