// font-size
$font-size-xl: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;

// color
$color-primary: #475466;
$color-secondary: #4a4e58;
$color-light: #fff;
$color-info: #1ca1c1;
$color-dark: #ebedf0;
