.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-blue;
  color: $color-light;
  border: none;
  border-radius: $border-radius-sm;
  font-family: $font-family-primary;

  &__new {
    margin: 17px;
    padding: 8px;
  }

  &__search {
    font-size: $font-size-md;
    background-color: $color-light;
    color: $color-icon;
    padding: 16px;
  }

  &__icon-plus {
    padding: 0 8px;
  }
}
