.btn__new {
  margin: 17px;
  padding: 8px;
  background-color: $color-info;
  color: $color-light;
  border: none;
  border-radius: 2px;
  font-family: $font-family-primary;
}

i {
  padding-right: 6px;
  padding-bottom: 2px;
}
