.navbar {
  width: 212px;
  height: 100vh;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;

  &__select {
    display: flex;
    align-items: center;
    color: $color-light;
    font-family: $font-family-secondary;
    padding: 12px;
  }
}

a {
  text-decoration: none;
}
