.navbar {
  width: 212px;
  height: 100%;
  background-color: $color-secondary;
  flex-direction: column;

  &__select {
    align-items: center;
    color: $color-light;
    font-family: $font-family-secondary;
  }
}
