.navbar {
  width: 255px;
  background-color: $color-secondary;
  flex-direction: column;

  &__select {
    padding: 14px;
    align-items: center;
    color: $color-light;
    font-family: $font-family-secondary;

  }

  &__icon-users {
    padding: 0 6px 4px 0;
  }
}
