.table-primary {
  width: 100%;
  font-size: $font-size-sm;
  margin: 12px 12px 0;
  border-collapse: collapse;
  background-color: $color-light;

  &__title {
    font-size: $font-size-xl;
    padding: 16px;
    color: $color-secondary;
  }

  &__wrapper {
    text-align: left;
    width: 100%;
  }

  &__spacing {
    padding: 20px 8px;
    font-size: $font-size-md;
    border-bottom: 1px solid $color-blue;
  }

  &__head {
    &__avatar {
      width: 60px;
      background-color: $color-aliceblue;
    }

    &__fullname {
      width: 380px;
      background-color: $color-aliceblue;
    }

    &__status {
      width: 140px;
      background-color: $color-aliceblue;
    }

    &__email {
      background-color: $color-aliceblue;
    }
  }

  &__body {
    width: 100%;
    color: $color-primary;
    font: {
      size: $font-size-md;
      family: $font-family-secondary;
    }

    &__spacing {
      padding: 8px;
      border-bottom: 1px solid $color-silver;
    }

    &__avatar {
      @extend .table-primary__head__avatar;
      background-color: $color-light;
    }

    &__fullname {
      @extend .table-primary__head__fullname;
      background-color: $color-light;
    }

    &__status {
      @extend .table-primary__head__status;
      background-color: $color-light;
    }

    &__email {
      background-color: $color-light;
    }
  }
}

.avatar-user {
  width: 45px;
  border-radius: $border-radius-lg;
}

.status-item {
  width: 73px;
  font-family: $font-family-primary;
  background-color: $color-salmon;
  color: $color-danger;
  padding: 6px 10px;
  border-radius: $border-radius-md;
}

.status-item--active {
  width: 45px;
  font-family: $font-family-primary;
  background-color: $color-green;
  color: $color-success;
  padding: 6px 10px;
  border-radius: $border-radius-md;
}
