.header {
  &__title {
    padding: 20px;
  }
}

i {
  padding-right: 6px;
  padding-bottom: 2px;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}
