.header {
  &__title {
    padding: 20px;
  }
}

.navbar {
  &__select {
    padding: 12px;

    i {
      padding: 0 6px 2px 0;
    }
  }
}

.btn__new {
  padding: 8px;

  i {
    padding: 0 6px 2px 0;
  }
}

.table {
  margin: 12px 12px 0;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}
