* {
  margin: 0;
  padding: 0;
}

.main-block {
  border: 1px solid #021a40;
  width: 550px;
  height: 450px;
  margin: 0 auto;
}

.sign-up {
  &__info {
    padding-left: 5px;
  }
}

h1 {
  padding: 10px 5px;
}

label {
  width: 25px;
  height: 10px;
}

.form-value {
  padding-left: 5px;
}

#error-msg {
  color: #ed4337;
  margin-left: 100px;
}

input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
  margin: 10px 0px 10px 20px;
}

#email-input {
  margin-left: 47px;
}

#password-input {
  margin-left: 23px;
}

#confirm-password-input {
  margin-left: 26px;
}

button {
  margin: 5px;
  padding: 2px 10px;
  color: #5b5b5b;
  cursor: pointer;
}

a {
  padding-left: 5px;
}
