* {
  margin: 0;
  padding: 0;
}

.form-block {
  border: 1px solid #021a40;
  width: 550px;
  height: 350px;
  margin: 0 auto;
}

h1 {
  padding: 10px 5px;
}

.input-item {
  padding-left: 5px;
}

#error-msg {
  margin-left: 67px;
}

input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
  margin: 10px 0px 10px 20px;
}
